#introduction{
    text-align:justify;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 80px;
    color:dimgray;
}

h3{
    color:dimgray;
    margin-left: 80px;
}


#combine{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 120px;
    margin-right: 120px;
}

h1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 50px;
    color:white;
    background-color:dimgray;
}

#bottom{
    background-color:dimgray;
    color:white;
}

#p3{
    text-align:justify ;
    width: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 400px;
    color:dimgray;
}

#continent{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 80px;
}

#p4{width: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 400px;
    margin-right: 80px;
    color:dimgray;
}
